<doctype! HTML>


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFFFA;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*your CSS starts here */



* {
	/*border: 1px dashed black;*/
	
}

div {
	text-align: center;
}

.all {
  margin-top: 200px;
}

.top div {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    display: inline-block;
}

.middle div {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    display: inline-block;
}

.bottom div {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    display: inline-block;
}

#top_left {
    background-color: #99D6D6;
    -o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#top_left:hover {
	background-color: #7A0000;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#top_middle {
	background-color: #FFFFCC;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#top_middle:hover {
	background-color: #003D7A;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#top_right {
	background-color: #B2D1F0;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#top_right:hover {
	background-color: #4C4C1F;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#middle_left {
	background-color: #F7EFFF;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#middle_left:hover {
	background-color: #1A6666;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#middle_middle {
	background-color: #F5CCCC;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#middle_middle:hover {
	background-color: #003366;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#middle_right {
	background-color: #E6EBE6;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#middle_right:hover {
	background-color: #4C004C;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#bottom_left {
	background-color: #F5EBCC;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#bottom_left:hover {
	background-color: #14143D;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#bottom_middle {
	background-color: #E8F6FA;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#bottom_middle:hover {
	background-color: #660000;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#bottom_right {
	background-color: #E0CCF5;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}

#bottom_right:hover {
	background-color: #004C00;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	/* ...and now for the proper property */
  	transition:.3s;
}


